<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle Perfil</title>

<style>
    body { background-color: #fdf6f0; padding: 20px; font-family: Arial; }
    h2 { text-align: center; color: #8b5e3c; }
    .card {
        width: 30%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5e8de;
        border: 1px solid #8b5e3c;
        border-radius: 6px;
    }
    p { color: #5a3b23; }
</style>
</head>

<body>

<h2>Detalle del Perfil</h2>

<div class="card">
    <p><strong>ID:</strong> <span th:text="${perfil.idPerfil}"></span></p>
    <p><strong>Perfil:</strong> <span th:text="${perfil.perfil}"></span></p>
    
    <br><a th:href="@{/perfiles/lista}">Regresar</a>
</div>

</body>
</html>
